In [12]:
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import ast  # For parsing string to dictionary

# Read the data
details = pd.read_csv("ad_details.csv")
events = pd.read_csv("ad_events.csv")
profiles = pd.read_csv("customer_profiles.csv")

# Assuming you have features for clustering in the profiles dataframe
# You might need to preprocess and select appropriate features for clustering
# For example, let's assume you want to cluster based on age, income, and kids
X = profiles[['age', 'income', 'kids']]

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Perform DBSCAN clustering
dbscan = DBSCAN(eps=0.5, min_samples=5)
cluster_labels = dbscan.fit_predict(X_scaled)

# Count the number of data points in each cluster
cluster_counts = pd.Series(cluster_labels).value_counts()

# Select the top three largest clusters
top_clusters = cluster_counts.nlargest(3)
print(top_clusters)

# Add cluster labels to the profiles dataframe
profiles['cluster'] = cluster_labels

# Analyze characteristics of each cluster
for cluster_label in top_clusters.index:
    cluster_data = profiles[profiles['cluster'] == cluster_label]
    
    print(f"Cluster {cluster_label} Characteristics:")
    print("Age:")
    print(cluster_data['age'].describe())
    print("\nIncome:")
    print(cluster_data['income'].describe())
    print("\nNumber of Kids:")
    print(cluster_data['kids'].describe())
    print("\n")

# Extract offer id from event_info column
events['offer_id'] = events['event_info'].apply(lambda x: ast.literal_eval(x)['offer id'] if 'offer id' in ast.literal_eval(x) else None)

# Merge events and details dataframes on the 'offer_id' column
merged_data = pd.merge(events, details, left_on='offer_id', right_on='ad id', how='left')

# Display the merged data
print(merged_data)

1    4581
4    4201
0    2182
dtype: int64
Cluster 1 Characteristics:
Age:
count    4581.000000
mean       54.041912
std        17.235550
min        18.000000
25%        42.000000
50%        55.000000
75%        66.000000
max       101.000000
Name: age, dtype: float64

Income:
count      4581.000000
mean      65086.880594
std       21326.354841
min       30000.000000
25%       49000.000000
50%       63000.000000
75%       79000.000000
max      120000.000000
Name: income, dtype: float64

Number of Kids:
count    4581.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: kids, dtype: float64


Cluster 4 Characteristics:
Age:
count    4201.000000
mean       54.843847
std        17.142051
min        18.000000
25%        43.000000
50%        56.000000
75%        67.000000
max       101.000000
Name: age, dtype: float64

Income:
count      4201.000000
mean      65544.394192
std       21343.527905
min       30000.000000
25%       50000.000000
50%       64000.000000
75%       80000.000000
max      120000.000000
Name: income, dtype: float64

Number of Kids:
count    4201.0
mean        2.0
std         0.0
min         2.0
25%         2.0
50%         2.0
75%         2.0
max         2.0
Name: kids, dtype: float64


Cluster 0 Characteristics:
Age:
count    2182.000000
mean       53.750687
std        17.901846
min        18.000000
25%        41.000000
50%        55.000000
75%        66.000000
max       100.000000
Name: age, dtype: float64

Income:
count      2182.000000
mean      64851.054079
std       22145.889839
min       30000.000000
25%       48000.000000
50%       62000.000000
75%       79000.000000
max      120000.000000
Name: income, dtype: float64

Number of Kids:
count    2182.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: kids, dtype: float64


                                customer           event  \
0       78afa995795e4d85b5d9ceeca43f5fef  offer received
1       a03223e636434f42ac4c3df47e8bac43  offer received
2       e2127556f4f64592b11af22de27a7932  offer received
3       8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4       68617ca6246f4fbc85e91a2a49552598  offer received
...                                  ...             ...
306529  b3a1272bc9904337b331bf348c3e8c17     transaction
306530  68213b08d99a4ae1b0dcb72aebd9aa35     transaction
306531  a00058cf10334a308c68e7631c529907     transaction
306532  76ddbd6576844afe811f1a3c0fbb5bec     transaction
306533  c02b10e8752c4d8e9b73f918558531f7     transaction

                                              event_info  time  \
0       {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1       {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2       {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3       {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4       {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0
...                                                  ...   ...
306529                    {'amount': 1.5899999999999999}   714
306530                                  {'amount': 9.53}   714
306531                                  {'amount': 3.61}   714
306532                    {'amount': 3.5300000000000002}   714
306533                                  {'amount': 4.05}   714

                                offer_id  reward  \
0       9b98b8c7a33c4b65b9aebfe6a799e6d9     5.0
1       0b1e1539f2cc45b7b9fa7c272da2e1d7     5.0
2       2906b810c7d4411798c6938adc9daaa5     2.0
3       fafdcd668e3743c1bb461111dcafc2a4     2.0
4       4d5c57ea9a6940dd891ad53e9dbe8da0    10.0
...                                  ...     ...
306529                              None     NaN
306530                              None     NaN
306531                              None     NaN
306532                              None     NaN
306533                              None     NaN

                                    channels  required_amount  \
0                 ['web', 'email', 'mobile']              5.0
1                           ['web', 'email']             20.0
2                 ['web', 'email', 'mobile']             10.0
3       ['web', 'email', 'mobile', 'social']             10.0
4       ['web', 'email', 'mobile', 'social']             10.0
...                                      ...              ...
306529                                   NaN              NaN
306530                                   NaN              NaN
306531                                   NaN              NaN
306532                                   NaN              NaN
306533                                   NaN              NaN

        duration (days) offer_type                             ad id
0                   7.0       bogo  9b98b8c7a33c4b65b9aebfe6a799e6d9
1                  10.0   discount  0b1e1539f2cc45b7b9fa7c272da2e1d7
2                   7.0   discount  2906b810c7d4411798c6938adc9daaa5
3                  10.0   discount  fafdcd668e3743c1bb461111dcafc2a4
4                   5.0       bogo  4d5c57ea9a6940dd891ad53e9dbe8da0
...                 ...        ...                               ...
306529              NaN        NaN                               NaN
306530              NaN        NaN                               NaN
306531              NaN        NaN                               NaN
306532              NaN        NaN                               NaN
306533              NaN        NaN                               NaN

[306534 rows x 11 columns]

In [15]:
# Assuming 'profiles' is your DataFrame containing customer profiles
unique_values_per_feature = profiles.nunique()
print(unique_values_per_feature)

gender                                   3
age                                     84
id                                   14825
became_member_on (year month day)     1707
income                                  91
ever_married                             2
kids                                     6
home_state                              50
cluster                                  7
dtype: int64